body{
  width: 151px;
  height: 151px;
  margin: 0px;
}

div{
  position: absolute;
  top:180px;
  left: 590px;
  width: 151px;
  height: 151px;
  background-color: rgb(230,230,250);
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(230,230,250);
}

p{
    text-align:center;
}
.Days h1{
  width: 135px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 2px;
  margin-right: 0px;
  margin-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background-color: rgb(70,130,180);
  border-style: solid;
  border-color: #cecece;
  border-width: 3px;
  border-radius: 5px;
}

.Days a{
    text-decoration: none;
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 0px 5px;
}

.buttonRest {
    background-color: rgb(70,130,180);
    color: white;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 12px;
    margin-top: 3px;
    width: 141px;
    height:40px;
}

.Concluido {
    position: absolute;
    width: 55px;
    top: 519px;
    left: 85px;
    background-color: rgb(70,130,180);
    color: white;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
}

.Find {
    position: absolute;
    width: 45px;
    top: 125px;
    left: 85px;
    background-color: rgb(100,149,237);
    color: black;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
}

.Pagar {
    position: absolute;
    width: 55px;
    top: 112px;
    left: 85px;
    background-color: rgb(70,130,180);
    color: white;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
}


.previous {
    background-color: #333333;
    color: white;
}

.next {
    background-color: #333333;
    color: white;
}

.round {
    border-radius: 70%;
}

.back {
  background-color: #333333;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}

.no-click {
    pointer-events: none;
}

.Days iframe{
  position:absolute;
  top:50px;
  left:5px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.schedule{
  width: 125px;
  height: 151px;
  margin: 0px;
}

.schedule table{
  border-radius: 5px;
}

.schedule table, tr, th, td{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  border-width: 2px;
  border-style: solid;
  border-color: #cecece;
  text-align: center;
}

.Restaurant{
    width:141px;
    height: 130px;
}

.Restaurants iframe{
  position:absolute;
  top:13px;
  left:3px;
  overflow-x: hidden;
  overflow-y: scroll;
}

input[type=text] {
    position: absolute;
    margin-left: 88px;
    border: 2px;
    background-color: rgb(232,76,61);
    border-radius: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=textId] {
    position: absolute;
    border: 2px;
    background-color: rgb(176,196,222);
    border-radius: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=total] {
    position: relative;
    text-align: center;
    background-color: rgb(232, 76, 61);
    border-radius: 5px;
    border: 2px;
    width: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.RestChoose{
  width: 125px;
  height: 125px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
}

#icon1{
  position: absolute;
  margin-left: 48px;
}

#icon2{
  position: absolute;
  margin-left: 48px;
  margin-top:50px;
}

#icon3{
  position: absolute;
  margin-left: 48px;
  margin-top:125px;
}

#icon4{
  position: absolute;
  margin-left: 48px;
  margin-top:200px;
}

#icon5{
  position: absolute;
  margin-left: 48px;
  margin-top:275px;
}

#icon6{
  position: absolute;
  margin-left: 48px;
  margin-top:350px;
}

#icon7{
  position: absolute;
  margin-left: 48px;
  margin-top:425px;
}

#icon8{
  position: absolute;
  margin-left: 48px;
  margin-top:500px;
}



#txt{
  position: absolute;
  top: 180px;
  left:592px;
  margin-top: 0px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;

}

#smartwatch{
  position: absolute;
  top: 118px;
  left: 531px;
  height:279px;
  width:279px;
  background-color: rgb(245,245,245);
}

#map{
  position: absolute;
  top:5px;
  height:145px;
  width:150px;
  border-radius: 15px;
}

#foodFunction{
    position: absolute;
    top: 40px;
    left: 22px;
    background-color: rgb(70,130,180);
    border-radius: 5px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(70,130,180);
}

#scheduleFunction{
    position: absolute;
    top: 40px;
    left: 79px;
    background-color: rgb(70,130,180);
    border-radius: 5px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(70,130,180);
}

#findFunction{
  position: absolute;
  top: 96px;
  left: 22px;
  background-color: rgb(70,130,180);
  border-radius: 5px;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(70,130,180);
}

#blankFunction{
  position: absolute;
  top: 96px;
  left: 79px;
  background-color: rgb(70,130,180);
  border-radius: 5px;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(70,130,180);
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
